@{
    ViewBag.Title = "About";
}

<h1 style="margin-top:10vh;text-align:center">About US</h1>

<p>
    Teams around the world invent on behalf of our customers every day to meet their desire for lower prices, better selection, and convenient services. One way we guarantee a wide selection of products is through the 1.7 million small and medium businesses around the world selling on Froad and offering more options for customers.
</p>

<h1 style="margin-top:10vh;text-align:center">About The Web Developer</h1>

<p>
    Hard-working web developer with a flair for creating elegant solutions in the least amount of time. Developed an ecommerce webapp, customer web portal, documentary launch website, and donations webapp for a local charity. Passionate about software architecture and cloud computing. Regular attendee of web developer meetups and hackathons.
</p>
