@{
    ViewBag.Title = "Contact";
}

<h1 style="margin-top:10vh;text-align:center">Contact Us </h1>

<div style="margin-top:10vh;text-align:center">
    <a href="https://www.linkedin.com/in/aschalew-azage/">Linkdin <i style="font-size:50px" class="fab fa-github"></i></a>
    <a href="https://www.facebook.com/">FaceBook <i style="font-size:50px" class="fab fa-facebook"></i></a>
    <a href="https://github.com/Ascha10">GitHub <i style="font-size:50px" class="fab fa-linkedin"></i></a>
</div>


<h1 style="margin: 10vh 10vh; text-align: center;">You can find us at</h1>

<div class="mapouter">
    <div class="gmap_canvas">
        <iframe width="772" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=isreal%20Lod,Sderot%20Shlomo%20HaMelech%20102&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://putlocker-is.org"></a><br>
        <style>
            .mapouter {
                position: relative;
                text-align: center;
                height: 500px;
                width: 772px;
                left: 14%;
            }
        </style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
        <style>
            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 500px;
                width: 772px;
                text-align: center;
            }
        </style>
    </div>
</div>

