@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(https://cdn.pixabay.com/photo/2017/08/06/22/52/blouse-2597205__480.jpg); background-repeat: no-repeat; background-size: cover">
    <h1 style="font-size:80px;">Sport App</h1>
    <p style="font-size:30px;color:slategrey; text-shadow:1.5px 1.5px #000; font-weight:bolder;" class="lead"> The Best Place Your Can Ever Find Is Found Here</p>
    <p><a href="#" class="btn btn-primary btn-lg">Click For  &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Shirts</h2>
        <p>
            A t-shirt mock-up is a blank slate for designing a t-shirt with your own graphics, pictures, images, words, or branding. When you mock up a t-shirt, you create a design and put it on a virtual t-shirt
        </p>
        <p><a class="btn btn-default" href="/Shirts/AllShirts">More info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pants</h2>
        <p>
            Certainly, the right pair of pants can make you feel amazing and heels will add a statement to any look.

             They will make you look taller and give you an attractive look that is both feminine and beautiful.
        </p>
        <p><a class="btn btn-default" href="/Pants/AllPants">More info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sport Equipments</h2>
        <p>will sell the latest and most popular name-brand sporting goods, apparel, and accessories. Consumers will be educated as to the proper size, style, fit, and design needed for their particular use.</p>
        <p><a class="btn btn-default" href="/SportsEquipment/AllSportsEquipment">More info &raquo;</a></p>
    </div>

</div>