
<section>
    <h1>Manegers Page</h1>

    <div style="display:flex;justify-content:space-evenly;margin:3vh 0 7vh 0;">
        <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("GetAllShoes","Managers")'">Click For Shoes Table</button>
        <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("GetAllShirt","Managers")'">Click For Shirts Table</button>
        <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("GetAllPants","Managers")'">Click For Pants Table</button>
        <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("GetAllSportsEquipment","Managers")'">Click For SportsEquipment Table</button>
    </div>
</section>
